.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #353956;
  text-align: center;
}

.container-dashboard-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 40vw;
  min-width: 40vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* estilo botones */
.btn{
  background-color: #54668e;
  color: white;
}

/* estilo contenido en router link*/
.container-router {
  min-height: 60vh;
}

/* titulo app */
.container-app-titulo {
  min-width: 80vw;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn:hover{
  background-color: #e8e8e8;
  color: black;
  scale: 1.06;
}
