<div class="container-metrica-con-tablas">

  <div>
    <img src="./assets/test.jpg" alt="Girl in a jacket" width="200" height="200">
  </div>

  <div class="">
    <table>
      <tr class="">
        <th class=""> Estadistica </th>
        <th class=""> Valor </th>
      </tr>

      <tr class="">
        <td class=""> Más reciente </td>
        <td class=""> X </td>
      </tr>

      <tr class="">
        <td class=""> Promedio </td>
        <td class=""> X </td>
      </tr>

      <tr class="">
        <td class=""> Mínimo </td>
        <td class=""> X </td>
      </tr>

      <tr class="">
        <td class=""> Máximo </td>
        <td class=""> X </td>
      </tr>

    </table>
  </div>

  <div class="">
    <table>
      <tr class="">
        <th class=""> Rango1 </th>
        <th class=""> Imagen1 </th>
      </tr>

      <tr class="">
        <td class=""> Rango2 </td>
        <td class=""> imagen2 </td>
      </tr>

      <tr class="">
        <td class=""> Rango3 </td>
        <td class=""> imagen3 </td>
      </tr>

      <tr class="">
        <td class=""> Rango4 </td>
        <td class=""> imagen4 </td>
      </tr>

      <tr class="">
        <td class=""> Rango5 </td>
        <td class=""> imagen5 </td>
      </tr>

    </table>
  </div>

</div>
